<!--The content below is only a placeholder and can be replaced.-->
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse " style="background-color:Licorice">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">TOURIST APPLICATION</a></li>
      <li><a routerLink="/home">HOME</a></li>
      <li><a routerLink="/register">REGISTER</a></li>
      <li><a routerLink="/view">VIEW</a></li>
    </ul>
  </div>
</nav>


<router-outlet></router-outlet>
