
body {
    padding-top:30px;
}
fieldset {
    border: thin solid #ccc; 
    border-radius: 4px;
    padding: 20px;
    padding-left: 40px;
    background: #f0ffff;
}
legend {
   color: dark;
}
.form-control {
    width: 95%;
}
label small {
    color: #678 !important;
}
span.req {
    color:red;
    font-size: 112%;
}