h4{
    text-align: center;
    color:#FF7F50;
    text-indent: -600px;
  }
body {
    padding-top:20px;
}
fieldset {
    border: thin solid #ccc; 
    border-radius: 4px;
    padding: 20px;
    padding-left: 40px;
    background: #f0ffff;
}

span.req {
    color:red;
    font-size: 112%;
}